*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    height: 100dvh;
    display: grid;
    grid-template-areas: "menuu conversaa mainn" ;
    grid-template-columns: 60px 1fr 2fr ;

    
}

nav{
    background-color: #f7f5f2;
    grid-area: menuu;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    gap: 16px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container img{
    /* background-color: orange; */
    border-radius: 100%;
    padding: 7px;
    gap: 16px;
    width: 40px;
}

.container img:hover{
    background-color: rgb(63, 223, 63);
    border-radius: 100%;
    padding: 7px;
    gap: 16px;
    width: 40px;
}



section{
    background-color: #FFFFFF;
    grid-area: conversaa;
}

main{
    background-color: green;
    grid-area: mainn;
}